@use 'stylesLap' as *;
@use 'sass:map';
@use 'sass:color';

.contact-section {
    @include flexible-container(flex, column, nowrap, space-around, center, 20px, 20px);
    width: 90%;
    margin: 0 auto;
    margin-top: map.get($container-layout, "margin-top")- 100px;

    @include movil (map.get($breakpoints-layout, "tablet")) {
        margin-top: 0px;
    }
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); // shadow de la caja 
}