// Variables globales
/// @group colors
$primary-color: #007bff;
/// @group colors
$secondary-color: #6c757d;
/// @group fonts
$font-family: 'Arial', sans-serif;
/// @group fonts
$font-size-base: 16px;