@use 'stylesLap' as *;
@use 'sass:map';
@use 'sass:color';

$color-gradient: (
    "background": linear-gradient(to bottom,
        color.adjust(map.get($color-general, "dark"), $lightness: -10%),
        color.adjust(map.get($color-general, "dark"), $lightness: -15%)),
);

.nav-container {
    @include responsive-container(0 auto, // margin
        20px 50px, // padding
        100%, // width
        100%, // max-width
        100%, // height

    );
    display: flex;
    background: linear-gradient(to bottom,
            color.adjust(map.get($color-general, "dark"), $lightness: -10%),
            color.adjust(map.get($color-general, "dark"), $lightness: -15%));
    border-radius: 20px;

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    li {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.1em;

    }

    a {
        text-decoration: none;
        color: map.get($color-general, "light");
    }

    li:hover,
    a:hover {
        color: map.get($color-general, "primary");
        transition: all 0.3s ease;
        cursor: pointer;
        transform: scale(1.1);
    }
}