<section class="hero-section">
    <div class="hero-section__content">
        <app-header></app-header>
        <div class="hero-section__text">
            <h1 class="hero-section__title">Diseño Web, Proyectos e Ingenieria.</h1>
            <p class="hero-section__paragraph">
                Desarrollamos proyectos de ingenieria en redes de vapor y condensado, Instalaciones Fotolvoltaicas y
                diseño
                web.
            </p>
            <a href="#" class="hero-section__cta">Comienza ahora</a>
        </div>
    </div>
</section>

