<app-hero-section></app-hero-section>
<main>
    <div id="#projects" class="container">
        <section>
            <app-card-section></app-card-section>
        </section>
    </div>
    <div  class="aplications-section container">
        <section>
            <app-aplications-section></app-aplications-section>
        </section>
    </div>

    <div class="container contact-section">
        <section>
                <section class="contact-card">
                    <app-contact-card></app-contact-card>
                </section>
                <section class="contact-form">
                    <app-contact-form></app-contact-form>
            </section>
        </section>
    </div>
</main>

<app-footer></app-footer>