<app-hero-section></app-hero-section>
<main>
    <div id="#projects" class="container">
        <section>
            <app-card-section></app-card-section>
        </section>
    </div>
    <div  class="aplications-section container">
        <section>
            <app-aplications-section></app-aplications-section>
        </section>
    </div>

    <div class="container contact-section">
        <section>
            <!-- <app-contact-form></app-contact-form> -->
            <app-contact-form></app-contact-form>
        </section>
    </div>
</main>

<app-footer></app-footer>